<h1> Behind the scene </h1>
<p> Bismillahirrahmaanirrahiim</p>
<p>I feel good when i able (bi idznillah) to create useful things to improve people life in certain way , such as this web app. I hope this is one of many unlimited things i can create ... and inspire others </p>
<p>  - mas bin - </p>