<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="jumbotron text-center">
			<h1> 
				<i class="fa fa-check-circle-o"></i>
				BeRez
			</h1>
			<p> Simple, sleek & smart to-do app. Manage your to-do and Berez (Be Rest!)</p>
			<%= link_to "Sign Up" , new_user_registration_path , class: "btn btn-primary btn-lg" %>
		</div>
	</div> 
</div>






